snippet co
	Co-authored-by: ${1} <${2}>
snippet so
	Signed-off-by: ${1} <${2}>
snippet sotrg
	Signed-off-by: TiagoRG <tiago.rgarcia@ua.pt>
snippet aed
    Co-authored-by: diogotavc <diogo.tav.carvalho@ua.pt>
    Signed-off-by: TiagoRG <tiago.rgarcia@ua.pt>
